@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@using Umbraco.Core.Models;

@if (Model.downloads != null)
{
    List<int> ids = new List<int>();
    foreach (var page in Model.downloads)
    {
        ids.Add(Convert.ToInt32(page.id));
    }

    IEnumerable<IPublishedContent> downloads = Umbraco.Media(ids.ToArray());

    <div class="sidebar-section">
        <h4 class="also-title">Downloads</h4>
        <div class="list-group">
            @if (downloads.Any())
                {
                    foreach (IPublishedContent download in downloads)
                    {
                            <a href="@download.Url" download="@download.Name" class="list-group-item"><span class="fa fa-file-pdf-o" aria-hidden="true"></span> @download.Name</a>
                    }
                }
        </div>
    </div>
}